<style type="text/css">
body {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
</style>

<body>
    <div style="border:1px solid black; width:300px; display:inline-block; text-align:left; text-align:center;">
        <div style="background:black; color:fff; font-size:32px; padding-top:10px; padding-bottom: 10px; text-align:center; font-family:sans-serif; font-weight:bold">
            RACKOON
        </div>

        <div style="padding:25px; font-family:sans-serif">
            Please login
            <br/><br/><br/>
            <form>
                <input name="username"/>
                <p/>
                <input name="password" type="password"/>
                <p/><br/>
                <button> Login </button>
            </form>
        </div>
    </div>
</body>